/* Header.css */
.app-header {
    background-color: #87CEEB; /* Светло-голубой цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .header-buttons {
    margin-top: 10px;
  }
  
  .header-buttons button {
    margin-right: 10px;
  }
  